
.header {
  background-image: url('../assets/istockphoto-1285395672-1024x1024.jpg');
  margin: 0;
  padding: 20px; /* Adjust padding as needed */
  font-family: Arial, sans-serif; /* Example font family */
  margin: 0px;
}

.header-content {
  display: flex;
  width: 97%; /* Adjust width as needed */
  max-width: 1200px; /* Max width of content */
  height: 600px;
  margin: 0px;
  background-size: cover;
  background-position: center;

  justify-content: center;
  color: white;
}

.header-text {
  flex: 1; /* Take remaining space */
  padding: 5px;
}


.header-image img {
  width: 500px;
  height: 700px;
  margin-right:0;
  border-radius: 25px;
}
